<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">

        <form action="/submit" method="post">
            <h1>Enter Location</h1>
            <input type="text" name="location" placeholder="Enter your location" required>
            <h1>Enter Metrics</h1>
            <input type="text" name="metrics" placeholder="Enter metrics" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
